@model  System.Collections.Generic.List<VideoLibraryBusinessLayer.Video>

<div class="container">
    <h2>Search Results:</h2>

    <table id="resultsTable" class="table sortable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var vid in Model)
            {
                <tr>
                    <td>@Html.RouteLink(vid.Title, new RouteValueDictionary(new { Controller = "Home", Action = "Details", id = vid.VideoId }))</td>
                    <td>@vid.Year</td>
                    <td>@vid.Director</td>
                </tr>
            }
        </tbody>
    </table>
</div>



